<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin khách hàng</title>
</head>
<body>
<div class="container">
    <h1>THÔNG TIN KHÁCH HÀNG</h1>
    <div >
        <div  >
            <div  >
                <a th:href="@{/customers/add}">

                    <p>Thêm mới</p>
                </a>
            </div>

            <div class="search-input">
                <form th:action="@{/customers/list}" method="get">
                    <input type="hidden" name="action" value="room">
                    <div>
                       tim kiem
                    </div>
                    <div class="input">
                        <input type="text" id="customerName" name="customerName" placeholder="Tìm kiếm"
                               th:value="${param.customerName}" th:onchange="this.form.submit()">
                    </div>
                </form>
            </div>
        </div>
        <div class="info-product">
            <table border="1">
                <tr>
                    <th>STT</th>
                    <th>Mã khách hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Hành động</th>
                </tr>

                <!-- Hiển thị thông báo lỗi -->
                <div th:if="${not #strings.isEmpty(errorMessage)}" class="error-message">
                    <p th:text="${errorMessage}"></p>
                </div>

                <!-- Lặp qua danh sách phòng -->
                <th:block th:each="item, iterStat : ${customers}">
                    <tr>
                        <td th:text="${iterStat.index + 1}"></td>
                        <td   th:text="${item.id}"></td>
                        <td   th:text="${item.name}"></td>
                        <td   th:text="${item.phone}"></td>
                        <td  th:text="${item.email}"></td>
                        <td >
                            <a th:href="@{/customers/view(id=${item.id})}">
                                <button>thong tin</button>
                            </a>
                            <a th:href="@{/customers/delete(id=${item.id})}"
                               th:onclick="'return confirm(\'Bạn có chắc chắn muốn xóa danh mục này không?\')'">
                                <button>xoa</button>
                            </a>
                        </td>
                    </tr>
                </th:block>

            </table>
        </div>
    </div>
</div>
</body>
</html>
