<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form thêm mới</title>
</head>
<body>
<div class="container">

    <div class="form">

        <div th:if="${not #strings.isEmpty(errorMessage)}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>

        <form th:action="@{/customers/view}" th:object="${transaction}" method="get">
            <table border="1">
                <tr>
                    <th colspan="2">THÔNG TIN CHI TIẾT</th>
                </tr>
                <tr>
                    <td class="info">
                        <label for="transactionCode">Mã giao dịch</label>
                    </td>
                    <td>
                        <input type="text" name="transactionCode" id="transactionCode" th:field="*{transactionCode}" readonly>
                    </td>
                </tr>
                <tr>
                    <td  >
                        <label for="idCustomer">Tên khách hàng</label>
                    </td>
                    <td>
                        <input type="text" name="idCustomer" id="idCustomer" th:field="*{customer.name}" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        <label for="serviceType">Loại dịch vụ</label>
                    </td>
                    <td>
                        <input type="text" name="serviceType" id="serviceType" th:field="*{serviceType}" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        <label for="transactionDate">Ngày giao dịch</label>
                    </td>
                    <td>
                        <input type="text" name="transactionDate" id="transactionDate" th:field="*{transactionDate}" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        <label for="price">Đơn giá</label>
                    </td>
                    <td>
                        <input type="text" name="price" id="price" th:field="*{price}" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        <label for="area">Diện tích (m2)</label>
                    </td>
                    <td>
                        <input type="text" name="area" id="area" th:field="*{area}" readonly>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="tdbtn">
                        <a th:href="@{/transaction/list}">
                            <button type="button">Quay lại</button>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
